.App {
  font-weight: 550;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.header img {
  height: 35px;
  padding-top: 50px;
}

.hero {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 50px;
}

.hero-text {
  width: 50%;
  text-align: left;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.apply-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #61c7e9;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    width: 100%;
  }

  .hero-image {
    width: 100%;
    margin-top: 20px;
  }
}
