@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6f59e2;
}
